@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff2"),
      url("../fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff"),
      url("../fonts/vazir/Vazir-Medium-FD-WOL.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  direction: ltr;
  text-align: left;
  font-family: "vazir";
}

body {
  color: aliceblue;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Images/background.jpg) center/cover no-repeat fixed;
}

.login-container {
  width: 300px;
  padding: 20px;
  background-color: #000000;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #9461ca;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #431952;
}
